body {
  /*background-color: white;*/
  font-family: 'Open Sans';
}
#app-mainpage {
  width: 100%;
  height: 100%;
  position: relative;
}
#app-mainpage #app-header {
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  height: 80px;
  background-color: #444;
}
#app-mainpage #app-header #app-header-logo {
  height: 100%;
  margin-left: 40px;
}
#app-mainpage #app-header #app-header-logo .logo {
  height: 75%;
  margin-top: 9px;
}
#app-mainpage #app-content {
  position: absolute;
  left: 0;
  top: 80px;
  right: 0;
  bottom: 0;
  height: calc(100% - 80px);
}
#app-mainpage #app-content .mcn-masterdetailview-detail .mcn-masterdetailview-detail-header {
  color: white;
}
#app-mainpage #app-content .mcn-masterdetailview-detail .mcn-masterdetailview-detail-content > .pagecontrol > .fragment {
  -ms-grid-rows: 40px 1fr;
  background-color: #EEE;
}
#app-mainpage #app-content .mcn-masterdetailview-detail .mcn-masterdetailview-detail-content > .pagecontrol > .fragment header[role=banner] {
  background-color: #DDD;
  border-bottom: 1px solid #BBB;
  -ms-grid-columns: 0 0 1fr auto;
}
#app-mainpage #app-content .mcn-masterdetailview-detail .mcn-masterdetailview-detail-content > .pagecontrol > .fragment header[role=banner] .titlearea {
  font-family: 'Open Sans Condensed';
  display: none;
}
#app-mainpage #app-content .mcn-masterdetailview-detail .mcn-masterdetailview-detail-content > .pagecontrol > .fragment header[role=banner] .codelink {
  opacity: 1;
  margin: 0;
  font-size: 1em;
  font-weight: 500;
  padding: 8px;
}
#app-mainpage #app-content .mcn-masterdetailview-detail .mcn-masterdetailview-detail-content > .pagecontrol > .fragment .desc-screen .bloc-description {
  border-radius: 0;
  background-color: white;
  border: 1px solid #BBB;
}
#app-mainpage #app-content > .mcn-masterdetailview-detail > .mcn-masterdetailview-detail-header {
  min-width: 80px;
  min-height: 60px;
}
#app-mainpage #app-content > .mcn-masterdetailview-detail > .mcn-masterdetailview-detail-header .title {
  font-size: 3em;
}
#app-mainpage #app-content .mcn-masterdetailview-defaultheader .back:after {
  font-size: 28pt;
  margin-left: -4px;
  padding-top: 15px;
}
#app-mainpage #app-content .mcn-masterdetailview-defaultheader .title {
  font-size: 1.8em;
  text-transform: uppercase;
  font-family: 'Open Sans Condensed';
}
#app-mainpage #app-content.mcn-vertical .mcn-masterdetailview-defaultheader .back {
  margin-left: 40px;
}
#app-mainpage #app-content.mcn-horizontal .mcn-masterdetailview-defaultheader .back:after {
  margin-left: -4px;
  padding-top: 15px;
}
#app-mainpage #app-content.mcn-horizontal > .mcn-masterdetailview-detail > .mcn-masterdetailview-detail-header .title {
  line-height: 90px;
}
.itemslist {
  display: flex;
  flex-flow: column wrap;
  align-content: flex-start;
}
.sectionlist {
  display: flex;
  flex-flow: row nowrap;
  align-content: flex-start;
}
.feature-section {
  height: 100%;
  width: 100%;
}
.feature-section .mcn-hub-section h2 {
  font-family: 'Open Sans Condensed';
  text-transform: uppercase;
  font-size: 24pt;
}
.feature-section .mcn-hub-section-titled {
  -ms-grid-rows: 130px 1fr 40px;
}
.feature-section .mcn-hub-section-content {
  background-color: white;
  border: 1px solid #BBB;
}
.feature {
  width: 250px;
  margin-right: 10px;
  margin-bottom: 10px;
  line-height: 1.2em;
  box-sizing: border-box;
  padding: 10px;
}
.feature .title {
  font-weight: 500;
  margin-bottom: 4px;
}
@media screen and (orientation: portrait) {
  #app-mainpage #app-header {
    height: 60px;
  }
  #app-mainpage #app-content {
    top: 60px;
    height: calc(100% - 60px);
  }
  #app-mainpage #app-header #app-header-logo {
    margin-left: 15px;
  }
  #app-mainpage #app-content.mcn-vertical .mcn-masterdetailview-defaultheader .back {
    min-width: 0;
    margin-left: 15px;
    margin-right: 15px;
  }
  .feature-section .mcn-hub-section {
    margin-left: 15px;
    width: calc(100% - 30px);
  }
  .feature-section .mcn-hub-section-titled {
    display: block;
  }
  .feature-section .mcn-hub-section-titled > h2 {
    margin-top: 15px;
  }
  #app-mainpage #app-header #app-header-logo .logo {
    margin-top: 7px;
  }
  #app-mainpage #app-content .mcn-masterdetailview-detail .mcn-masterdetailview-detail-header .title {
    font-size: 1.4em;
  }
  #app-mainpage #app-content > .mcn-masterdetailview-detail > .mcn-masterdetailview-detail-header .title {
    font-size: 1.8em;
  }
  #app-mainpage #app-content.mcn-vertical .mcn-masterdetailview-detail .mcn-masterdetailview-detail-header {
    height: 40px;
    min-width: 40px;
    min-height: 40px;
  }
  #app-mainpage #app-content.mcn-vertical .mcn-masterdetailview-detail .mcn-masterdetailview-detail-header .mcn-masterdetailview-defaultheader .back {
    min-height: 40px;
    display: none;
  }
  #app-mainpage #app-content.mcn-vertical .mcn-masterdetailview-detail .mcn-masterdetailview-detail-header .mcn-masterdetailview-defaultheader .back:after {
    font-size: 24pt;
  }
  #app-mainpage #app-content.mcn-vertical .mcn-masterdetailview-detail .mcn-masterdetailview-detail-header .mcn-masterdetailview-defaultheader .title {
    line-height: 36px;
    margin-left: 15px;
  }
  .feature-section .mcn-hub-section h2 {
    font-size: 18pt;
  }
  .feature {
    width: 100%;
    margin-right: 0;
    margin-bottom: 5px;
    padding: 5px;
  }
}
/*# sourceMappingURL=app.css.map */