.home {
  height: 100%;
  width: 100%;
  position: relative;
  overflow-y: hidden;
  overflow-x: auto;
}
.home .home-sections {
  height: calc(100% - 40px);
  margin-left: 40px;
  margin-top: 40px;
  display: flex;
  flex-flow: column wrap;
  align-content: flex-start;
  box-sizing: border-box;
}
.home .home-sections .spacer {
  height: 80%;
  width: 40px;
}
.home .home-sections .section {
  height: 40%;
  width: 240px;
  color: white;
  margin-right: 10px;
  margin-bottom: 10px;
  position: relative;
  box-sizing: border-box;
  padding: 10px;
}
.home .home-sections .section.big {
  height: calc(80% + 10px);
}
.home .home-sections .section.big#whatisthis .title {
  display: none;
}
.home .home-sections .section.big .desc {
  font-size: 1.5em;
}
.home .home-sections .section .title,
.home .home-sections .section .more {
  position: absolute;
  left: 10px;
  right: 10px;
  bottom: 10px;
  font-size: 2.2em;
  font-family: 'Open Sans Condensed';
  text-align: right;
  line-height: 1.1em;
}
.home .home-sections .section .more {
  font-size: 1.5em;
}
.home #corefeatures {
  background-color: #e24242;
  border-left: 6px solid #d12020;
}
.home #navigation {
  background-color: #a162e4;
  border-left: 6px solid #8736dd;
}
.home #ui {
  background-color: #ef7c45;
  border-left: 6px solid #eb5b16;
}
.home #helpers {
  background-color: #2685d5;
  border-left: 6px solid #1e6aaa;
}
.home #winrt {
  background-color: #5e99ca;
  border-left: 6px solid #3d80b8;
}
.home #whatisthis {
  background-color: #b1b636;
  border-left: 6px solid #8b8f2a;
}
.home #crossplatform {
  background-color: #34b08b;
  border-left: 6px solid #28896c;
}
.home #apidoc {
  background-color: #ef7c45;
  border-left: 6px solid #eb5b16;
}
@media screen and (orientation: portrait) {
  .home {
    overflow-y: auto;
    overflow-x: hidden;
  }
  .home .home-sections {
    height: auto;
    margin: 0;
    margin: 20px 0 20px 20px;
    width: calc(100% - 20px);
    /*display: block;*/
    flex-flow: row wrap;
  }
  .home .home-sections .spacer {
    height: 20px;
    width: 80%;
  }
  .home .home-sections .section {
    height: auto;
    width: 100%;
    color: white;
    /*margin-bottom: 10px;*/
  }
  .home .home-sections .section.big .desc {
    font-size: 1.3em;
    line-height: 1.2em;
  }
  .home .home-sections .section .title {
    position: static;
    left: 10px;
    right: 10px;
    bottom: 10px;
    font-size: 1.5em;
    font-family: 'Open Sans Condensed';
    text-align: left;
    line-height: 1.1em;
  }
}
@media screen and (orientation: portrait) and (min-width: 400px) {
  .home .home-sections .section {
    padding: 20px;
    /*margin-bottom: 10px;*/
  }
  .home .home-sections .section.big .desc {
    font-size: 1.6em;
  }
  .home .home-sections .section .title {
    font-size: 1.8em;
  }
}
