*.suo
$tf/
node_modules/
packages/
Windows Phone sample/MCNEXT WinJS Contrib.WindowsPhone.jsproj.user
Cordova sample/MCNEXT.WinJS.Contrib.Cordova.jsproj.user
Cordova sample/Web.config
Cordova sample/WinJSContrib.csproj
Cordova sample/WinJSContrib.csproj.user
MCNEXT WinJS Contrib.Shared/MCNEXT WinJS Contrib.Shared.shproj.user
MCNEXT WinJS Contrib.v12.suo
*.nupkg
WinJS Contrib.v12.suo
typescriptcompile.log
build.log
npm-debug.log
.sublime-gulp.cache