.mcn-masterdetailview {
  position: relative;
  width: 100%;
  height: 100%;
}
.mcn-masterdetailview .mcn-masterdetailview-master,
.mcn-masterdetailview .mcn-masterdetailview-detail {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  visibility: hidden;
}
.mcn-masterdetailview .mcn-masterdetailview-master.visible,
.mcn-masterdetailview .mcn-masterdetailview-detail.visible {
  visibility: visible;
}
.mcn-masterdetailview .mcn-masterdetailview-master > .pagecontrol {
  width: 100%;
  height: 100%;
}
.mcn-masterdetailview .mcn-masterdetailview-detail {
  display: flex;
  visibility: hidden;
}
.mcn-masterdetailview .mcn-masterdetailview-detail.visible {
  visibility: visible;
}
.mcn-masterdetailview .mcn-masterdetailview-detail .mcn-masterdetailview-detail-header .mcn-masterdetailview-defaultheader {
  width: 100%;
  height: 100%;
  position: relative;
}
.mcn-masterdetailview .mcn-masterdetailview-detail .mcn-masterdetailview-detail-header .mcn-masterdetailview-defaultheader .back {
  min-width: 60px;
  min-height: 60px;
}
.mcn-masterdetailview .mcn-masterdetailview-detail .mcn-masterdetailview-detail-header .mcn-masterdetailview-defaultheader .back:after {
  font-family: 'Segoe UI Symbol';
  content: '\E0A9';
  text-align: center;
  font-size: 20pt;
}
.mcn-masterdetailview .mcn-masterdetailview-detail .mcn-masterdetailview-detail-content {
  flex: 1;
}
.mcn-masterdetailview .mcn-masterdetailview-detail .mcn-masterdetailview-detail-content > .pagecontrol {
  width: 100%;
  height: 100%;
}
.mcn-masterdetailview.mcn-vertical .mcn-masterdetailview-detail {
  flex-flow: column;
}
.mcn-masterdetailview.mcn-vertical .mcn-masterdetailview-detail .mcn-masterdetailview-detail-header {
  height: 60px;
}
.mcn-masterdetailview.mcn-vertical .mcn-masterdetailview-detail .mcn-masterdetailview-detail-header .mcn-masterdetailview-defaultheader .back {
  display: inline-block;
  float: left;
}
.mcn-masterdetailview.mcn-vertical .mcn-masterdetailview-detail .mcn-masterdetailview-detail-header .mcn-masterdetailview-defaultheader .title {
  display: inline-block;
}
.mcn-masterdetailview.mcn-horizontal .mcn-masterdetailview-detail {
  flex-flow: row;
}
.mcn-masterdetailview.mcn-horizontal .mcn-masterdetailview-detail .mcn-masterdetailview-detail-header {
  width: 60px;
}
.mcn-masterdetailview.mcn-horizontal .mcn-masterdetailview-detail .mcn-masterdetailview-detail-header .mcn-masterdetailview-defaultheader .back:after {
  display: block;
}
.mcn-masterdetailview.mcn-horizontal .mcn-masterdetailview-detail .mcn-masterdetailview-detail-header .mcn-masterdetailview-defaultheader .title {
  position: absolute;
  bottom: 0;
  transform-origin: 0 100%;
  transform: rotate(-90deg);
  overflow: visible;
  width: 400px;
  line-height: 60px;
  margin-left: 100%;
  padding-left: 40px;
}
