.mcn-flipviewpager {
  text-align: center;
  /* zero-out default styles */
}
.mcn-flipviewpager input[type="radio"] {
  margin: 10px 5px;
  width: 50px;
  height: 6px;
  padding: 0px;
}
.mcn-flipviewpager input[type="radio"]::-ms-check {
  width: 50px;
  height: 6px;
  padding: 0px;
  background-color: #555;
  border: 0px;
  border-radius: 0%;
  color: transparent;
}
.mcn-flipviewpager input[type="radio"]:checked:hover:active::-ms-check,
.mcn-flipviewpager input[type="radio"]:checked:hover::-ms-check,
.mcn-flipviewpager input[type="radio"]:checked::-ms-check {
  width: 50px;
  height: 6px;
  padding: 0px;
  background-color: white;
}
