.mcn-xplat.mcn-tabpages,
.mcn-xplat.mcn-tabpages.arrowright {
  width: 100%;
  height: 100%;
  position: relative;
  display: block;
}
.mcn-xplat.mcn-tabpages .mcn-tabpages-content,
.mcn-xplat.mcn-tabpages.arrowright .mcn-tabpages-content {
  position: absolute;
  left: 80px;
  top: 0;
  right: 0;
  bottom: 0;
  height: auto;
  width: auto;
}
.mcn-xplat.mcn-tabpages .mcn-tabpages-content .fragment header[role=banner],
.mcn-xplat.mcn-tabpages.arrowright .mcn-tabpages-content .fragment header[role=banner] {
  color: white;
  height: 90px;
  margin-left: 120px;
  margin-top: 65px;
  padding: 0 20px;
}
.mcn-xplat.mcn-tabpages .mcn-tabpages-content .fragment header[role=banner] .win-backbutton,
.mcn-xplat.mcn-tabpages.arrowright .mcn-tabpages-content .fragment header[role=banner] .win-backbutton,
.mcn-xplat.mcn-tabpages .mcn-tabpages-content .fragment header[role=banner] .win-navigation-backbutton,
.mcn-xplat.mcn-tabpages.arrowright .mcn-tabpages-content .fragment header[role=banner] .win-navigation-backbutton {
  display: block;
  margin-right: 20px;
  font-size: 28pt;
  height: 90px;
  line-height: 90px;
}
.mcn-xplat.mcn-tabpages .mcn-tabpages-content .fragment header[role=banner] .win-backbutton:disabled,
.mcn-xplat.mcn-tabpages.arrowright .mcn-tabpages-content .fragment header[role=banner] .win-backbutton:disabled,
.mcn-xplat.mcn-tabpages .mcn-tabpages-content .fragment header[role=banner] .win-navigation-backbutton:disabled,
.mcn-xplat.mcn-tabpages.arrowright .mcn-tabpages-content .fragment header[role=banner] .win-navigation-backbutton:disabled {
  display: none;
}
.mcn-xplat.mcn-tabpages .mcn-tabpages-content .fragment header[role=banner] .titlearea,
.mcn-xplat.mcn-tabpages.arrowright .mcn-tabpages-content .fragment header[role=banner] .titlearea {
  height: 90px;
  line-height: 90px;
  width: auto;
  padding: 0;
  margin-top: 0;
  font-size: 42pt;
}
.mcn-xplat.mcn-tabpages .mcn-tabpages-content .fragment header[role=banner] .titlearea .pagetitle,
.mcn-xplat.mcn-tabpages.arrowright .mcn-tabpages-content .fragment header[role=banner] .titlearea .pagetitle {
  line-height: 90px;
  font-weight: normal;
  text-transform: uppercase;
}
.mcn-xplat.mcn-tabpages .mcn-tabpages-content .fragment section[role=main],
.mcn-xplat.mcn-tabpages.arrowright .mcn-tabpages-content .fragment section[role=main] {
  top: 0;
}
.mcn-xplat.mcn-tabpages .mcn-tabpages-header,
.mcn-xplat.mcn-tabpages.arrowright .mcn-tabpages-header {
  position: absolute;
  left: 0;
  top: 0;
  bottom: 0;
  width: 80px;
}
.mcn-xplat.mcn-tabpages .mcn-tabpages-header .mcn-tabpages-headergroup .mcn-tabpages-headeritem .tabheader,
.mcn-xplat.mcn-tabpages.arrowright .mcn-tabpages-header .mcn-tabpages-headergroup .mcn-tabpages-headeritem .tabheader {
  width: 80px;
  height: 80px;
  padding-top: 14px;
  box-sizing: border-box;
}
.mcn-xplat.mcn-tabpages .mcn-tabpages-header .mcn-tabpages-headergroup .mcn-tabpages-headeritem .tabheader i,
.mcn-xplat.mcn-tabpages.arrowright .mcn-tabpages-header .mcn-tabpages-headergroup .mcn-tabpages-headeritem .tabheader i {
  display: block;
  text-align: center;
  font-size: 26pt;
  line-height: 1em;
}
.mcn-xplat.mcn-tabpages .mcn-tabpages-header .mcn-tabpages-headergroup .mcn-tabpages-headeritem .tabheader .title,
.mcn-xplat.mcn-tabpages.arrowright .mcn-tabpages-header .mcn-tabpages-headergroup .mcn-tabpages-headeritem .tabheader .title {
  font-size: 9pt;
  text-align: center;
  opacity: 0.8;
}
.mcn-tabpages {
  overflow: hidden;
}
.mcn-tabpages .mcn-tabpages-header {
  position: relative;
  background-color: #444444;
  color: white;
}
.mcn-tabpages .mcn-tabpages-header .mcn-tabpages-headeritem {
  position: relative;
  transition: background-color 167ms ease-in-out;
}
.mcn-tabpages .mcn-tabpages-header .mcn-tabpages-headeritem.current {
  background-color: #6a6a6a;
}
.mcn-tabpages .mcn-tabpages-header .mcn-tabpages-headeritem:hover {
  background-color: #9a9a9a;
}
.mcn-tabpages .mcn-tabpages-content {
  overflow: hidden;
}
.mcn-tabpages.arrowright {
  display: -ms-grid;
  -ms-grid-rows: 1fr;
  -ms-grid-columns: auto 1fr;
}
.mcn-tabpages.arrowright .mcn-tabpages-header .mcn-tabpages-headeritem {
  border-bottom: 1px solid #888888;
}
.mcn-tabpages.arrowright .mcn-tabpages-header .mcn-tabpages-headeritem.current:after,
.mcn-tabpages.arrowright .mcn-tabpages-header .mcn-tabpages-headeritem.current:before {
  left: 100%;
  border: solid transparent;
  content: " ";
  height: 0;
  width: 0;
  position: absolute;
  pointer-events: none;
}
.mcn-tabpages.arrowright .mcn-tabpages-header .mcn-tabpages-headeritem.current:after {
  border-color: rgba(136, 183, 213, 0);
  border-left-color: #6a6a6a;
  border-width: 8px;
  top: 50%;
  margin-top: -8px;
}
.mcn-tabpages.arrowright .mcn-tabpages-header .mcn-tabpages-headeritem.current:before {
  border-color: rgba(194, 225, 245, 0);
  border-left-color: #6a6a6a;
  border-width: 8px;
  top: 50%;
  margin-top: -8px;
}
.mcn-tabpages.arrowright .mcn-tabpages-header .mcn-tabpages-headeritem.current:hover:after,
.mcn-tabpages.arrowright .mcn-tabpages-header .mcn-tabpages-headeritem.current:hover:before {
  border-left-color: #9a9a9a;
}
.mcn-tabpages.arrowright .mcn-tabpages-content {
  width: 100%;
  height: 100%;
  overflow: hidden;
  -ms-grid-column: 2;
  display: -ms-grid;
  -ms-grid-rows: 1fr;
  -ms-grid-columns: 1fr;
}
.mcn-tabpages.arrowright .mcn-tabpages-content > .mcn-tabpages-page {
  width: 100%;
  height: 100%;
  /*height: ~"calc(100% + 15px)";*/
  position: relative;
  overflow: hidden;
  padding: 0;
  margin: 0;
  /*margin-top: -15px;*/
  box-sizing: border-box;
}
