#mainMenuTrigger {
  position: absolute;
  top: 12px;
  right: 12px;
  width: 40px;
  height: 40px;
  line-height: 44px;
  text-align: center;
  font-size: 19pt;
  z-index: 1;
  color: white;
  /*background-color: @themeColor;*/
  transition: all 160ms ease-out;
}
#mainMenu.mcn-flyoutpage .mcn-flyoutpage-area .mcn-flyoutpage-contentwrapper .mcn-flyoutpage-bg {
  opacity: 0.8;
  background-color: #000000;
}
.mainMenuContent {
  color: white;
  font-size: 20pt;
  font-weight: 400;
}
.mainMenuContent .menu-group {
  margin: 20px;
}
.mainMenuContent .menu-group .menu-item {
  margin-bottom: 15px;
  font-weight: 500;
  color: #DDD;
}
.mainMenuContent .menu-group .menu-item .icon {
  color: #a12121;
}
#mainMenu .mcn-flyoutpage-area .mcn-flyoutpage-contentwrapper .mcn-flyoutpage-content {
  overflow-x: hidden;
  overflow-y: auto;
}
@media screen and (orientation: portrait) and (max-width: 390px) {
  .mainMenuContent {
    font-size: 16pt;
  }
}
