html,
body {
  font-size: 13pt;
  width: 100%;
  height: 100%;
  position: relative;
  font-family: "Segoe UI";
}
body.withtestrunner {
  display: -ms-grid;
  -ms-grid-columns: 1fr;
  -ms-grid-rows: 1fr 60px;
}
#contenthost {
  width: 100%;
  height: 100%;
}
#nav-container {
  width: 100%;
  height: 100%;
}
#testrunner {
  -ms-grid-row: 2;
}
#testrunner.expanded {
  position: relative;
  width: 100%;
  height: 100%;
  -ms-grid-row: 1;
  -ms-grid-row-span: 2;
}
.fragment {
  -ms-grid-columns: 1fr;
  -ms-grid-rows: 128px 1fr;
  display: -ms-grid;
  height: 100%;
  width: 100%;
}
.fragment section[role=main] {
  -ms-grid-row: 2;
  height: 100%;
}
