@import "../../../../css/apptheme";

.tilemenu {
    .tile {
        width: 250px;
        height: 250px;
        padding: 10px;
        background-color: @color-ui;
    }
}

#sampleMenuItem{
    .mcn-tilemenu-menu{
        background-color: @color-ui;
        padding: 10px;
        width: 60px;
        height: 60px;
    }
}
