#app-mainpage #app-content .mcn-masterdetailview-detail .mcn-masterdetailview-detail-content .mcn-masterdetailview-master .navigator .pagecontrol .fragment header[role=banner] {
  -ms-grid-columns: 20px auto 1fr auto;
}
#app-mainpage #app-content .mcn-masterdetailview-detail .mcn-masterdetailview-detail-content .mcn-masterdetailview-master .navigator .pagecontrol .fragment header[role=banner] .titlearea {
  display: block;
}
#app-mainpage #app-content .mcn-masterdetailview-detail .mcn-masterdetailview-detail-content .mcn-masterdetailview-master .navigator .pagecontrol .fragment header[role=banner] .win-backbutton {
  margin-top: 2px;
  width: 34px;
  height: 34px;
  line-height: 33px;
  font-size: 12pt;
}
#app-mainpage #app-content .mcn-masterdetailview-detail .mcn-masterdetailview-detail-content .mcn-masterdetailview-master .navigator .pagecontrol .fragment section[role=main] {
  padding: 40px;
}
@media screen and (orientation: portrait) and (max-width: 600px) {
  #app-mainpage #app-content .mcn-masterdetailview-detail .mcn-masterdetailview-detail-content .mcn-masterdetailview-master .navigator .pagecontrol .fragment header[role=banner] .titlearea {
    display: block;
    font-size: 16pt;
    -ms-grid-row-align: center;
    margin-left: 0;
  }
  #app-mainpage #app-content .mcn-masterdetailview-detail .mcn-masterdetailview-detail-content .mcn-masterdetailview-master .navigator .pagecontrol .fragment header[role=banner] .win-backbutton {
    margin-left: 0;
    font-size: 10pt;
    width: 28px;
    height: 28px;
    line-height: 28px;
    margin-top: 5px;
  }
  #app-mainpage #app-content .mcn-masterdetailview-detail .mcn-masterdetailview-detail-content .mcn-masterdetailview-master .navigator .pagecontrol .fragment header[role=banner] .actions {
    margin-right: 20px;
    font-size: 11pt;
    -ms-grid-row-align: center;
  }
  #app-mainpage #app-content .mcn-masterdetailview-detail .mcn-masterdetailview-detail-content .mcn-masterdetailview-master .navigator .pagecontrol .fragment header[role=banner] .actions .symbol {
    font-size: 13pt;
  }
  #app-mainpage #app-content .mcn-masterdetailview-detail .mcn-masterdetailview-detail-content .mcn-masterdetailview-master .navigator .pagecontrol .fragment section[role=main] {
    padding: 20px;
  }
}
