.mcn-testrunner {
    font-size: 13pt;
    background-color: black;
    color: white;

    &.expanded {
        display: -ms-grid;
        -ms-grid-rows: auto 1fr;
        -ms-grid-columns: 1fr;

        .collapsedrunner {
        }

        .expandedrunner {
            -ms-grid-row: 2;
        }
    }

    &.collapsed {
        .expandedrunner {
            display: none;
        }
    }

    .collapsedrunner {
        height: 60px;
        background-color: #333;
        display: flex;
        align-items: center;
        padding: 10px;
        box-sizing: border-box;

        .campaign-status {
            width: 40px;
            height: 40px;
            border-radius: 50%;
            border: 1px solid #777;
            margin-right: 10px;

            &.failed{
                background-color : red;
            }

            &.success {
                background-color : green;
            }
        }

        .campaignrun {
            width: 100%;
        }

        .campaign {
            display: flex;

            .name {
                flex: 1;
            }
        }
    }

    .expandedrunner {
        width: 100%;
        height: 100%;
        display: -ms-grid;
        -ms-grid-rows: auto 1fr;
        -ms-grid-columns: 1fr;

        > header {
            height: 60px;
            padding : 10px;
            box-sizing:border-box;
            background-color: #555;
            display: flex;
            flex-flow: row nowrap;
            align-items : center;

            .selectcampaign{
                flex : 1;
                margin-right : 10px;
                padding : 10px;
            }

            button{
                padding : 10px;
            }
        }

        > section {
            -ms-grid-row: 2;
            overflow-x: hidden;
            overflow-y: auto;
            height: 100%;
            width: 100%;

            .scenario {
                padding: 10px;
                box-sizing:border-box;

                > header {
                    display: flex;
                    flex-flow: row nowrap;

                    .status {
                        border: 1px solid #AAA;
                        border-radius: 50%;
                        width: 18px;
                        height: 18px;
                        line-height: 18px;
                        font-family: "Segoe UI Symbol";
                        text-align: center;
                        margin-right: 10px;

                        &.running {
                            background-color: blue;
                        }

                        &.success {
                            background-color: green;
                        }

                        &.failed {
                            background-color: red;
                        }
                    }

                    .name {
                        flex: 1;
                    }
                }

                > section {
                    color: #CCC;
                    font-style: italic;
                }
            }
        }
    }
}
