.semanticzoom #semanticzoom, .semanticzoom #zoomedin, .semanticzoom #zoomedout {
    width: 100%;
    height: 100%;
}

.phone .semanticzoom .mcn-grid-ctrl {
    margin-left: 20px;
}

.semanticzoom .mcn-grid-ctrl {
    height: 100%;
    margin-left: 120px;
}

.semanticzoom .container {
    width: 100%;
    height: 100%;
    overflow-x: auto;
    overflow-y: hidden;
    position: relative;
}

.semanticzoom .item {
    box-sizing: border-box;
    background-color: blue;
    color: white;
    padding: 20px;
}

.semanticzoom #zoomedin .item {
    height: 500px;
    width: 500px;
    font-size: 90pt;
}

.semanticzoom #zoomedout .item {
    height: 100px;
    width: 100px;
}

.phone .semanticzoom #zoomedin .item {
    height: 200px;
    width: 200px;
    font-size: 30pt;
}
