.showcode {
  display: -ms-grid;
  -ms-grid-rows: 0px 60px 1fr;
  -ms-grid-columns: 20px 1fr 20px;
  position: relative;
  overflow: hidden;
  width: 100%;
  height: 100%;
}
.showcode .btnClose {
  font-family: 'Segoe UI Symbol';
  position: absolute;
  right: 10px;
  top: 10px;
  width: 40px;
  height: 40px;
  line-height: 40px;
  font-size: 22pt;
  color: #AAA;
}
.showcode .loader {
  pointer-events: none;
  -ms-grid-row-span: 3;
  -ms-grid-column-span: 3;
  display: -ms-grid;
  -ms-grid-rows: 1fr;
  -ms-grid-columns: 1fr;
}
.showcode .loader progress {
  -ms-grid-row-align: center;
  -ms-grid-column-align: center;
  width: 80px;
  height: 80px;
}
.showcode .tabheader {
  -ms-grid-row: 2;
  -ms-grid-column: 2;
  font-size: 20pt;
  position: absolute;
}
.showcode .tabheader a {
  display: inline-block;
  text-decoration: none;
  color: #CCC;
  margin-right: 12px;
  margin-top: 12px;
}
.showcode .tabheader a.visible {
  color: #555;
}
.showcode .tabs {
  -ms-grid-row: 3;
  -ms-grid-column: 1;
  -ms-grid-column-span: 3;
  position: relative;
  overflow: hidden;
}
.showcode .tabs .tabpanel {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  transition: all 400ms ease;
  transform: translate(-100%, 0);
  opacity: 0;
  overflow: hidden;
}
.showcode .tabs .tabpanel.visible {
  /*transition-delay: 150ms;*/
  transform: translate(0, 0);
  opacity: 1;
}
.showcode .tabs .tabpanel > div {
  height: 100%;
}
.showcode .tabs .tabpanel .syntaxhighlighter {
  height: 100%;
  overflow: auto;
  margin: 0 !important;
}
.showcode .tabs .tabpanel .syntaxhighlighter .line {
  white-space: pre-wrap !important;
  /* make code wrap */
}
.showcode .tabs .tabpanel .toolbar {
  display: none !important;
}
