.picker-page2 {
    background-color: #DDD;
}

/*.picker-page2 section[role=main] {
    margin-left: 120px;
    margin-right: 40px;
}

    .picker-page2 section[role=main] .choices {
        margin-top: 20px;
    }

    .picker-page2 section[role=main] .choices button {
        display: block;
        margin-bottom: 10px;
        width: 200px;
    }

    
.phone .picker-page2 section[role=main] {
        margin-left: 20px;
        margin-right: 20px;
    }*/