.mcn-tabpages .mcn-tabpages-header {
  background-color: #444444;
  color: white;
}
.mcn-tabpages .mcn-tabpages-header .mcn-tabpages-headeritem {
  position: relative;
  transition: background-color 167ms ease-in-out;
}
.mcn-tabpages .mcn-tabpages-header .mcn-tabpages-headeritem.current {
  background-color: #6a6a6a;
}
.mcn-tabpages .mcn-tabpages-header .mcn-tabpages-headeritem:hover {
  background-color: #9a9a9a;
}
.mcn-tabpages .mcn-tabpages-content {
  overflow: hidden;
}
.mcn-tabpages.arrowright {
  display: -ms-grid;
  -ms-grid-rows: 1fr;
  -ms-grid-columns: auto 1fr;
}
.mcn-tabpages.arrowright .mcn-tabpages-header .mcn-tabpages-headeritem {
  border-bottom: 1px solid #888888;
}
.mcn-tabpages.arrowright .mcn-tabpages-header .mcn-tabpages-headeritem.current:after,
.mcn-tabpages.arrowright .mcn-tabpages-header .mcn-tabpages-headeritem.current:before {
  left: 100%;
  border: solid transparent;
  content: " ";
  height: 0;
  width: 0;
  position: absolute;
  pointer-events: none;
}
.mcn-tabpages.arrowright .mcn-tabpages-header .mcn-tabpages-headeritem.current:after {
  border-color: rgba(136, 183, 213, 0);
  border-left-color: #6a6a6a;
  border-width: 6px;
  top: 50%;
  margin-top: -6px;
}
.mcn-tabpages.arrowright .mcn-tabpages-header .mcn-tabpages-headeritem.current:before {
  border-color: rgba(194, 225, 245, 0);
  border-left-color: #6a6a6a;
  border-width: 12px;
  top: 50%;
  margin-top: -12px;
}
.mcn-tabpages.arrowright .mcn-tabpages-header .mcn-tabpages-headeritem.current:hover:after,
.mcn-tabpages.arrowright .mcn-tabpages-header .mcn-tabpages-headeritem.current:hover:before {
  border-left-color: #9a9a9a;
}
.mcn-tabpages.arrowright .mcn-tabpages-content {
  width: 100%;
  height: 100%;
  overflow: hidden;
  -ms-grid-column: 2;
  display: -ms-grid;
  -ms-grid-rows: 1fr;
  -ms-grid-columns: 1fr;
}
.mcn-tabpages.arrowright .mcn-tabpages-content > .mcn-tabpages-page {
  width: 100%;
  height: 100%;
  /*height: ~"calc(100% + 15px)";*/
  position: relative;
  overflow: hidden;
  padding: 0;
  margin: 0;
  /*margin-top: -15px;*/
  box-sizing: border-box;
}
