.navigator {
    .fragment {
    }
}

#app-mainpage #app-content .mcn-masterdetailview-detail .mcn-masterdetailview-detail-content .mcn-masterdetailview-master .navigator .pagecontrol {
    .fragment {

        header[role=banner] {
            -ms-grid-columns: 20px auto 1fr auto;

            .titlearea {
                display:block;
            }

             .win-backbutton{
                 margin-top: 2px;
                 width: 34px;
                 height: 34px;
                 line-height: 33px;
                 font-size: 12pt;
             }
        }
    }
}
