.picker-page1 {
    background-color: white;
}

    /*.picker-page1 section[role=main] {
        display: -ms-grid;
        -ms-grid-columns: 1fr;
        -ms-grid-rows: auto 1fr;
    }

        .picker-page1 section[role=main] .actions {
            margin-left: 120px;
            margin-right: 40px;
        }

        .picker-page1 section[role=main] #listitems {
            width: 100%;
            height: 100%;
            -ms-grid-row: 2;
        }

            .picker-page1 section[role=main] #listitems .win-surface {
                margin-left: 120px;
                margin-right: 40px;
            }

    .picker-page1 .item {
        width: 100%;
        height: 60px;
        padding: 20px;
        background-color: blue;
        color: white;
    }


       
.phone  .picker-page1 section[role=main] .actions,    
.phone  .picker-page1 section[role=main] #listitems .win-surface {
        margin-left: 20px;
        margin-right: 20px;
    }*/
