.listlayoutpage section[role=main] #mylistview {
    width: 100%;
    height: 100%;
}

    .listlayoutpage section[role=main] #mylistview .win-surface {
        margin-left: 120px;
        /*margin-right: 120px;*/
        width: calc(100% - 120px);
    }

.phone .listlayoutpage section[role=main] #mylistview .win-surface {
    margin-left: 20px;
    width: calc(100% - 20px);
}

.sometile {
    background-color: #777;
    color: white;
    width: 260px;
    height: 160px;
}

.phone .sometile {
    width: 70px;
    height: 50px;
}

@media screen and (orientation: portrait) {
    .listlayoutpage section[role=main] #mylistview .win-surface {
        margin-left: 60px;
        /*margin-right: 60px;*/
        width: calc(100% - 60px);
    }

    .phone .listlayoutpage section[role=main] #mylistview .win-surface {
        margin-left: 20px;
        width: calc(100% - 20px);
    }

    .sometile {
        background-color: blue;
    }
}

@media screen and (orientation: portrait) and (max-width: 350px) {
    .listlayoutpage section[role=main] #mylistview .win-surface {
        margin-left: 10px;
        /*margin-right: 10px;*/
        width: calc(100% - 10px);
    }

    .sometile {
        background-color: green;
        width: 100%;
    }
}
