.page1 {
    background-color: white;
}

    .page1 section[role=main] {
        margin-left: 120px;
        margin-right: 40px;
    }

.phone .page1 section[role=main] {
    margin-left: 20px;
    margin-right: 20px;
}
