<?xml version="1.0" encoding="utf-8"?>
<widget xmlns:cdv="http://cordova.apache.org/ns/1.0" xmlns:vs="http://schemas.microsoft.com/appx/2014/htmlapps" id="Saretec.Sesame.Smartphone" version="1.0.0.0" xmlns="http://www.w3.org/ns/widgets">
  <name>Sésame</name>
  <description>
    Sesame mobile par Saretec
  </description>
  <author href="http://cordova.io" email="dev@cordova.apache.org">
    Saretec
  </author>
  <content src="index.html" />
  <access origin="*" />
  <preference name="DisallowOverscroll" value="false" />
  <preference name="SplashScreen" value="screen" />
  <preference name="android-windowSoftInputMode" value="adjustResize" />
  <preference name="Fullscreen" value="false" />
  <preference name="Orientation" value="portrait" />
  <preference name="loadUrlTimeoutValue" value="120000" />
  <vs:plugin name="org.apache.cordova.media-capture" version="0.3.1" />
  <vs:plugin name="org.apache.cordova.dialogs" version="0.2.9" />
  <vs:plugin name="org.apache.cordova.camera" version="0.3.0" />
  <vs:plugin name="org.apache.cordova.file-transfer" version="0.4.4" />
  <vs:plugin name="org.apache.cordova.file" version="1.3.0" />
  <vs:plugin name="org.apache.cordova.device" version="0.2.10" />
  <vs:plugin name="org.apache.cordova.network-information" version="0.2.10" />
  <vs:plugin name="org.apache.cordova.inappbrowser" version="0.5.0" />
  <vs:plugin name="org.devgeeks.Canvas2ImagePlugin" version="0.6.0" />
  <vs:plugin name="com.simonmacdonald.imei" version="1.0.0" />
  <vs:plugin name="com.simonmacdonald.telephonenumber" version="1.0.0" />
  <vs:plugin name="io.github.pwlin.cordova.plugins.fileopener2" version="1.0.11" />
  <vs:plugin name="nl.x-services.plugins.flashlight" version="2.0.2" />
  <vs:platformSpecificValues />
</widget>