.page2 {
    background-color: #DDD;
}

.page2 section[role=main] {
    margin-left: 120px;
    margin-right: 40px;
}

.phone .page2 section[role=main] {
    margin-left: 20px;
    margin-right: 20px;
}
