.section-navigation .mcn-hub-section h2 {
  color: #a162e4;
}
.section-navigation .feature.active {
  background-color: #bb8eeb;
  color: white;
}
.section-navigation button,
.section-navigation .button {
  background-color: #a162e4;
  border: none;
  color: white;
  font-family: 'Open Sans Condensed';
  margin-right: 10px;
  margin-bottom: 10px;
}
.section-navigation button:hover,
.section-navigation .button:hover {
  background-color: #d5b9f3;
}
.section-navigation button:active,
.section-navigation .button:active {
  background-color: #6e21bf;
}
.section-navigation .mcn-navigation-ctrl .pagecontrol .fragment section[role=main] {
  padding: 20px;
  box-sizing: border-box;
}
