.section-corefeatures .mcn-hub-section h2 {
  color: #e24242;
}
.section-corefeatures .feature.active {
  background-color: #e96e6e;
  color: white;
}
.section-corefeatures button,
.section-corefeatures .button {
  background-color: #e24242;
  border: none;
  color: white;
  font-family: 'Open Sans Condensed';
  margin-right: 10px;
  margin-bottom: 10px;
}
.section-corefeatures button:hover,
.section-corefeatures .button:hover {
  background-color: #f09a9a;
}
.section-corefeatures button:active,
.section-corefeatures .button:active {
  background-color: #a51919;
}
