@import url('../../../../../css/apptheme.css');
.datasources.fragment .viewKind {
  font-size: 0.5em;
  color: #AAA;
}
.datasources.fragment section[role="main"] {
  padding-left: 0;
  padding-right: 0;
  position: relative;
}
.datasources.fragment #filterTrigger {
  position: absolute;
  right: 10px;
  top: 10px;
  font-size: 22pt;
  z-index: 500;
}
.datasources.fragment #viewSelectionFlyout .viewOption {
  font-size: 16pt;
  margin-bottom: 14px;
}
.datasources.fragment #semanticzoom {
  width: 100%;
  height: 100%;
}
.datasources.fragment .win-listview > .win-horizontal .win-surface {
  margin-left: 50px;
  margin-right: 120px;
  margin-top: 50px;
}
.datasources.fragment .win-listview > .win-vertical .win-surface {
  margin: 40px;
}
.datasources.fragment .zoomedinlist .listItem {
  box-sizing: border-box;
  padding: 10px;
  color: white;
  background-color: #eb5b16;
  width: 260px;
  height: 80px;
}
.datasources.fragment .zoomedoutlist .semanticItem {
  box-sizing: border-box;
  padding: 10px;
  color: white;
  background-color: #be4810;
  width: 260px;
  height: 80px;
}
.datasources.fragment #filterFlyout label {
  display: block;
}
@media screen and (orientation: portrait) and (max-width: 600px) {
  .datasources.fragment .zoomedinlist .listItem {
    width: 100%;
  }
  .datasources.fragment .zoomedoutlist .semanticItem {
    width: 100%;
  }
  .datasources.fragment .win-listview > .win-vertical .win-surface {
    margin: 20px;
  }
}
