.flexgridpage .article {
  width: 300px;
  height: 250px;
  margin-right: 10px;
  margin-bottom: 10px;
}
.flexgridpage .article:first-child {
  width: 300px;
  height: 250px;
}
.flexgridpage .article:nth-child(4n),
.flexgridpage .article:nth-child(3n+1) {
  width: 300px;
  height: 250px;
}
.flexgridpage .article:nth-child(6n),
.flexgridpage .article:nth-child(4n+3) {
  width: 300px;
  height: 250px;
}
