.aboutPage p {
    margin-left: 120px;
}

.aboutPage .win-header {
    background-color: #a12121; 
    color: white;
}

    .aboutPage .win-header .win-backbutton {
        color: white;
        border-color: white;
    }

    .aboutPage .win-content {
    overflow: hidden;
}

    .aboutPage .win-content .applogo {
        text-align: center;
        background-color: #a12121; 
        max-width: 100%;
    }