.whatsNewPage p {
    margin-left: 120px;
}

.whatsNewPage .win-header {
    background-color: #a12121; 
    color: white;
}

    .whatsNewPage .win-header .win-backbutton {
        color: white;
        border-color: white;
    }

.whatsNewPage .win-content {
    overflow: hidden;
}

    .whatsNewPage .win-content .applogo {
        text-align: center;
        background-color: #a12121; 
        max-width: 100%;
    }

/*.whatsNewPage .win-backbutton {
    color: white;
}*/

.whatsNewPage #listnews {
    overflow: auto;
    height: calc(100% - 250px);
    margin-bottom: 10px;
}

.whatsNewPage .version {
    font-size: 18pt;
    font-weight: 500;
    margin-bottom: 10px;
}

.whatsNewPage .newitem {
    display: -ms-grid;
    -ms-grid-columns: 40px 1fr;
    -ms-grid-rows: 1fr auto 0px;
    margin-bottom: 15px;
}

.whatsNewPage .divbtnrate {
    display: -ms-grid;
    -ms-grid-columns: 1fr 0px;
    -ms-grid-rows: 1fr 0px;
    margin-bottom: 15px;
}

.whatsNewPage #rateButton {
    -ms-grid-row-align: center;
    -ms-grid-column-align: center;
    background-color: black;
    color: white;
    padding: 10px;
    font-size:14pt;

}

.whatsNewPage .textnews {
    -ms-grid-column: 2;
    -ms-grid-row-align: center;
    font-size: 16pt;
}

.whatsNewPage .descriptionnews {
    -ms-grid-row: 2;
    -ms-grid-column: 1;
    -ms-grid-column-span: 2;
    -ms-grid-row-align: center;
    margin-top : 10px;
    color: #888;
}

.whatsNewPage .pucenews {
    -ms-grid-column: 1;
    -ms-grid-row-align: center;
    /*background-image: url('pucecare.png');*/
    background-color: transparent;
    height: 20px;
    width: 20px;
    background-color:  #081a4a;
}
