.section-apidoc .mcn-hub-section h2 {
  color: #ef7c45;
}
.section-apidoc .feature.active {
  background-color: #f39d74;
  color: white;
}
.section-apidoc button,
.section-apidoc .button {
  background-color: #ef7c45;
  border: none;
  color: white;
  font-family: 'Open Sans Condensed';
  margin-right: 10px;
  margin-bottom: 10px;
}
.section-apidoc button:hover,
.section-apidoc .button:hover {
  background-color: #f7bea3;
}
.section-apidoc button:active,
.section-apidoc .button:active {
  background-color: #be4810;
}
#sectionNamespaces .feature {
  width: 400px;
}
@media screen and (orientation: portrait) {
  #sectionNamespaces .feature {
    width: 100%;
  }
  #sectionNamespaces .feature .title {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
  }
}
