.mcn-xplat.mcn-tabpages,
.mcn-xplat.mcn-tabpages.arrowright {
  width: 100%;
  height: 100%;
  position: relative;
  display: block;
}
.mcn-xplat.mcn-tabpages .mcn-tabpages-content,
.mcn-xplat.mcn-tabpages.arrowright .mcn-tabpages-content {
  position: absolute;
  left: 80px;
  top: 0;
  right: 0;
  bottom: 0;
  height: auto;
  width: auto;
}
.mcn-xplat.mcn-tabpages .mcn-tabpages-header,
.mcn-xplat.mcn-tabpages.arrowright .mcn-tabpages-header {
  position: absolute;
  left: 0;
  top: 0;
  bottom: 0;
  width: 80px;
}
.mcn-xplat.mcn-tabpages .mcn-tabpages-header .mcn-tabpages-headergroup .mcn-tabpages-headeritem .tabheader,
.mcn-xplat.mcn-tabpages.arrowright .mcn-tabpages-header .mcn-tabpages-headergroup .mcn-tabpages-headeritem .tabheader {
  width: 80px;
  height: 80px;
  padding-top: 14px;
  box-sizing: border-box;
}
.mcn-xplat.mcn-tabpages .mcn-tabpages-header .mcn-tabpages-headergroup .mcn-tabpages-headeritem .tabheader i,
.mcn-xplat.mcn-tabpages.arrowright .mcn-tabpages-header .mcn-tabpages-headergroup .mcn-tabpages-headeritem .tabheader i {
  display: block;
  text-align: center;
  font-size: 26pt;
  line-height: 1em;
}
.mcn-xplat.mcn-tabpages .mcn-tabpages-header .mcn-tabpages-headergroup .mcn-tabpages-headeritem .tabheader .title,
.mcn-xplat.mcn-tabpages.arrowright .mcn-tabpages-header .mcn-tabpages-headergroup .mcn-tabpages-headeritem .tabheader .title {
  font-size: 9pt;
  text-align: center;
  opacity: 0.8;
}
.mcn-tabpages {
  width: 100%;
  height: 100%;
  box-sizing: border-box;
  overflow: hidden;
}
.mcn-tabpages .mcn-tabpages-header {
  position: relative;
  background-color: #444444;
  color: white;
}
.mcn-tabpages .mcn-tabpages-header .mcn-tabpages-headeritem {
  position: relative;
  transition: background-color 167ms ease-in-out;
}
.mcn-tabpages .mcn-tabpages-header .mcn-tabpages-headeritem.current {
  background-color: #6a6a6a;
}
.mcn-tabpages .mcn-tabpages-header .mcn-tabpages-headeritem:hover {
  background-color: #9a9a9a;
}
.mcn-tabpages .mcn-tabpages-content {
  display: -ms-grid;
  -ms-grid-rows: 1fr;
  -ms-grid-columns: 1fr;
  width: 100%;
  height: 100%;
  box-sizing: border-box;
  overflow: hidden;
}
.mcn-tabpages .mcn-tabpages-content .mcn-tabpages-content-wrapper {
  width: 100%;
  height: 100%;
  position: relative;
  overflow: hidden;
}
.mcn-tabpages .mcn-tabpages-content > .mcn-tabpages-page {
  position: relative;
  width: 100%;
  height: 100%;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  overflow: hidden;
}
.mcn-tabpages.arrowright .mcn-tabpages-header .mcn-tabpages-headeritem.current:after,
.mcn-tabpages.arrowdown .mcn-tabpages-header .mcn-tabpages-headeritem.current:after,
.mcn-tabpages.arrowright .mcn-tabpages-header .mcn-tabpages-headeritem.current:before,
.mcn-tabpages.arrowdown .mcn-tabpages-header .mcn-tabpages-headeritem.current:before {
  border: solid transparent;
  content: " ";
  height: 0;
  width: 0;
  position: absolute;
  pointer-events: none;
}
.mcn-tabpages.arrowright .mcn-tabpages-header .mcn-tabpages-headeritem.current:after,
.mcn-tabpages.arrowdown .mcn-tabpages-header .mcn-tabpages-headeritem.current:after {
  border-color: rgba(136, 183, 213, 0);
  border-width: 8px;
}
.mcn-tabpages.arrowright .mcn-tabpages-header .mcn-tabpages-headeritem.current:before,
.mcn-tabpages.arrowdown .mcn-tabpages-header .mcn-tabpages-headeritem.current:before {
  border-color: rgba(194, 225, 245, 0);
  border-width: 8px;
}
.mcn-tabpages.arrowright {
  display: -ms-grid;
  -ms-grid-rows: 1fr;
  -ms-grid-columns: auto 1fr;
}
.mcn-tabpages.arrowright .mcn-tabpages-header .mcn-tabpages-headeritem {
  border-bottom: 1px solid #888888;
}
.mcn-tabpages.arrowright .mcn-tabpages-header .mcn-tabpages-headeritem.current:after,
.mcn-tabpages.arrowright .mcn-tabpages-header .mcn-tabpages-headeritem.current:before {
  left: 100%;
}
.mcn-tabpages.arrowright .mcn-tabpages-header .mcn-tabpages-headeritem.current:after {
  border-left-color: #6a6a6a;
  top: 50%;
  margin-top: -8px;
}
.mcn-tabpages.arrowright .mcn-tabpages-header .mcn-tabpages-headeritem.current:before {
  border-left-color: #6a6a6a;
  top: 50%;
  margin-top: -8px;
}
.mcn-tabpages.arrowright .mcn-tabpages-header .mcn-tabpages-headeritem.current:hover:after,
.mcn-tabpages.arrowright .mcn-tabpages-header .mcn-tabpages-headeritem.current:hover:before {
  border-left-color: #9a9a9a;
}
.mcn-tabpages.arrowright .mcn-tabpages-content {
  -ms-grid-column: 2;
}
.mcn-tabpages.arrowdown {
  display: -ms-grid;
  -ms-grid-rows: auto 1fr;
  -ms-grid-columns: 1fr;
}
.mcn-tabpages.arrowdown .mcn-tabpages-header .mcn-tabpages-headeritem {
  border-right: 1px solid #888888;
}
.mcn-tabpages.arrowdown .mcn-tabpages-header .mcn-tabpages-headeritem.current:after,
.mcn-tabpages.arrowdown .mcn-tabpages-header .mcn-tabpages-headeritem.current:before {
  top: 100%;
}
.mcn-tabpages.arrowdown .mcn-tabpages-header .mcn-tabpages-headeritem.current:after {
  border-top-color: #6a6a6a;
  left: 50%;
  margin-left: -8px;
}
.mcn-tabpages.arrowdown .mcn-tabpages-header .mcn-tabpages-headeritem.current:before {
  border-top-color: #6a6a6a;
  left: 50%;
  margin-left: -8px;
}
.mcn-tabpages.arrowdown .mcn-tabpages-header .mcn-tabpages-headeritem.current:hover:after,
.mcn-tabpages.arrowdown .mcn-tabpages-header .mcn-tabpages-headeritem.current:hover:before {
  border-top-color: #9a9a9a;
}
.mcn-tabpages.arrowdown .mcn-tabpages-content {
  -ms-grid-row: 2;
}
