body {
  /*background-color: white;*/
  font-family: 'Open Sans';
  font-size: 13pt;
}
#app-mainpage {
  width: 100%;
  height: 100%;
  position: relative;
}
#app-mainpage #app-header {
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  height: 80px;
  background-color: #444;
}
#app-mainpage #app-header #app-header-logo {
  height: 100%;
  margin-left: 40px;
}
#app-mainpage #app-header #app-header-logo .logo {
  height: 75%;
  margin-top: 9px;
}
#app-mainpage #app-content {
  position: absolute;
  left: 0;
  top: 80px;
  right: 0;
  bottom: 0;
  height: calc(100% - 80px);
}
#app-mainpage #app-content .mcn-masterdetailview-detail .mcn-masterdetailview-detail-header {
  color: white;
}
#app-mainpage #app-content .mcn-masterdetailview-detail .mcn-masterdetailview-detail-content .mcn-masterdetailview-detail-content-wrapper .pagecontrol > .fragment {
  -ms-grid-rows: 40px 1fr;
  background-color: #EEE;
}
#app-mainpage #app-content .mcn-masterdetailview-detail .mcn-masterdetailview-detail-content .mcn-masterdetailview-detail-content-wrapper .pagecontrol > .fragment header[role=banner] {
  background-color: #DDD;
  border-bottom: 1px solid #BBB;
  display: flex;
}
#app-mainpage #app-content .mcn-masterdetailview-detail .mcn-masterdetailview-detail-content .mcn-masterdetailview-detail-content-wrapper .pagecontrol > .fragment header[role=banner] .win-backbutton {
  margin: 0;
  background-color: #888;
}
#app-mainpage #app-content .mcn-masterdetailview-detail .mcn-masterdetailview-detail-content .mcn-masterdetailview-detail-content-wrapper .pagecontrol > .fragment header[role=banner] .win-backbutton:disabled {
  display: none;
}
#app-mainpage #app-content .mcn-masterdetailview-detail .mcn-masterdetailview-detail-content .mcn-masterdetailview-detail-content-wrapper .pagecontrol > .fragment header[role=banner] .titlearea {
  font-family: 'Open Sans Condensed';
  /*display: none;*/
  margin: 0;
  margin-left: 10px;
  font-size: 18pt;
  flex: 1;
}
#app-mainpage #app-content .mcn-masterdetailview-detail .mcn-masterdetailview-detail-content .mcn-masterdetailview-detail-content-wrapper .pagecontrol > .fragment header[role=banner] .codelink,
#app-mainpage #app-content .mcn-masterdetailview-detail .mcn-masterdetailview-detail-content .mcn-masterdetailview-detail-content-wrapper .pagecontrol > .fragment header[role=banner] .doclink {
  opacity: 1;
  margin: 0;
  font-size: 0.7em;
  font-weight: 500;
  padding: 0;
}
#app-mainpage #app-content > .mcn-masterdetailview-detail > .mcn-masterdetailview-detail-header {
  min-width: 80px;
  min-height: 60px;
}
#app-mainpage #app-content > .mcn-masterdetailview-detail > .mcn-masterdetailview-detail-header .title {
  font-size: 3em;
}
#app-mainpage #app-content .mcn-masterdetailview-defaultheader .back:after {
  font-size: 28pt;
  margin-left: -4px;
  padding-top: 15px;
}
#app-mainpage #app-content .mcn-masterdetailview-defaultheader .title {
  font-size: 1.8em;
  text-transform: uppercase;
  font-family: 'Open Sans Condensed';
}
#app-mainpage #app-content.mcn-vertical .mcn-masterdetailview-defaultheader .back {
  margin-left: 40px;
}
#app-mainpage #app-content.mcn-horizontal .mcn-masterdetailview-defaultheader .back:after {
  margin-left: -4px;
  padding-top: 15px;
}
#app-mainpage #app-content.mcn-horizontal > .mcn-masterdetailview-detail > .mcn-masterdetailview-detail-header .title {
  line-height: 90px;
}
.itemslist {
  display: flex;
  flex-flow: column wrap;
  align-content: flex-start;
}
.sectionlist {
  display: flex;
  flex-flow: row nowrap;
  align-content: flex-start;
}
.feature-section {
  height: 100%;
  width: 100%;
}
.feature-section .mcn-hub-section h2 {
  font-family: 'Open Sans Condensed';
  text-transform: uppercase;
  font-size: 14pt;
  font-weight: bold;
  margin-bottom: 5px;
}
.feature-section .mcn-hub-section-titled {
  -ms-grid-rows: 130px 1fr 40px;
}
.feature-section .mcn-hub-section-content {
  background-color: white;
  border: 1px solid #BBB;
}
.feature {
  width: 300px;
  margin-right: 10px;
  margin-bottom: 10px;
  line-height: 1.2em;
  box-sizing: border-box;
  padding: 10px;
  overflow-x: hidden;
}
.feature.big {
  font-size: 1.2em;
}
.feature h3 {
  font-weight: 500;
}
.feature.disabled {
  opacity: 0.5;
}
.feature .title {
  font-weight: 500;
  margin-bottom: 4px;
}
@media screen and (orientation: portrait) {
  #app-mainpage #app-header {
    height: 60px;
  }
  #app-mainpage #app-content {
    top: 60px;
    height: calc(100% - 60px);
  }
  #app-mainpage #app-header #app-header-logo {
    margin-left: 15px;
  }
  #app-mainpage #app-content.mcn-vertical .mcn-masterdetailview-defaultheader .back {
    min-width: 0;
    margin-left: 15px;
    margin-right: 15px;
  }
  .feature-section .mcn-hub-section {
    margin-left: 15px;
    width: calc(100% - 30px);
  }
  .feature-section .mcn-hub-section-titled {
    display: block;
  }
  .feature-section .mcn-hub-section-titled > h2 {
    margin-top: 15px;
  }
  #app-mainpage #app-header #app-header-logo .logo {
    margin-top: 7px;
  }
  #app-mainpage #app-content .mcn-masterdetailview-detail .mcn-masterdetailview-detail-header .title {
    font-size: 1.4em;
  }
  #app-mainpage #app-content > .mcn-masterdetailview-detail > .mcn-masterdetailview-detail-header .title {
    font-size: 1.8em;
  }
  #app-mainpage #app-content.mcn-vertical .mcn-masterdetailview-detail .mcn-masterdetailview-detail-header {
    height: 40px;
    min-width: 40px;
    min-height: 40px;
  }
  #app-mainpage #app-content.mcn-vertical .mcn-masterdetailview-detail .mcn-masterdetailview-detail-header .mcn-masterdetailview-defaultheader .back {
    min-height: 40px;
    display: none;
  }
  #app-mainpage #app-content.mcn-vertical .mcn-masterdetailview-detail .mcn-masterdetailview-detail-header .mcn-masterdetailview-defaultheader .back:after {
    font-size: 24pt;
  }
  #app-mainpage #app-content.mcn-vertical .mcn-masterdetailview-detail .mcn-masterdetailview-detail-header .mcn-masterdetailview-defaultheader .title {
    line-height: 36px;
    margin-left: 15px;
  }
  /*.feature-section {
        .mcn-hub-section h2 {
            font-size: 18pt;
        }
    }*/
  .feature {
    width: 100%;
    margin-right: 0;
    margin-bottom: 5px;
    padding: 5px;
  }
}
#codeviewFlyout .childNavigator-contentPlaceholder {
  max-width: 90%;
}
#docviewFlyout .childNavigator-contentPlaceholder {
  max-width: 800px;
  font-size: 12pt;
}
#docviewFlyout .childNavigator-contentPlaceholder .fragment {
  -ms-grid-rows: 60px 1fr;
}
#docviewFlyout .childNavigator-contentPlaceholder .fragment header[role=banner] {
  background-color: #ef7c45;
  color: white;
  -ms-grid-columns: 40px auto 1fr auto;
}
#docviewFlyout .childNavigator-contentPlaceholder .fragment header[role=banner] .win-backbutton {
  margin-top: 11px;
  color: white;
  border-color: white;
  border-width: 1px;
  font-size: 12pt;
  width: 36px;
  height: 36px;
  line-height: 34px;
  margin-right: 10px;
}
#docviewFlyout .childNavigator-contentPlaceholder .fragment header[role=banner] .win-backbutton:disabled {
  display: none;
}
#docviewFlyout .childNavigator-contentPlaceholder .fragment header[role=banner] .titlearea {
  font-size: 20pt;
  margin-top: 10px;
}
#docviewFlyout .childNavigator-contentPlaceholder .fragment section[role=main] {
  width: 100%;
  height: 100%;
  box-sizing: border-box;
  overflow-y: auto;
}
#docviewFlyout .childNavigator-contentPlaceholder .fragment section[role=main].content-view {
  padding: 40px;
}
#docviewFlyout .childNavigator-contentPlaceholder .fragment section[role=main] h1,
#docviewFlyout .childNavigator-contentPlaceholder .fragment section[role=main] h2,
#docviewFlyout .childNavigator-contentPlaceholder .fragment section[role=main] h3,
#docviewFlyout .childNavigator-contentPlaceholder .fragment section[role=main] h4 {
  color: #ef7c45;
  margin-top: 1em;
  margin-bottom: 0.2em;
}
#docviewFlyout .childNavigator-contentPlaceholder .fragment section[role=main] h3 {
  text-transform: uppercase;
  font-size: 1em;
}
#docviewFlyout .childNavigator-contentPlaceholder .fragment section[role=main] h4 {
  font-weight: 500;
}
#docviewFlyout .childNavigator-contentPlaceholder .fragment section[role=main] .apidoc-class > .apidoc-description {
  /*border: 1px solid #DDD;
                    padding: 10px;
                    font-size: 1.1em;*/
  font-weight: 500;
}
#docviewFlyout .childNavigator-contentPlaceholder .fragment section[role=main] .apidoc-function-name,
#docviewFlyout .childNavigator-contentPlaceholder .fragment section[role=main] .apidoc-member-name {
  font-family: Consolas, 'Lucida Console', 'Open Sans';
}
#docviewFlyout .childNavigator-contentPlaceholder .fragment section[role=main] .apidoc-function-name {
  font-weight: 600;
}
#docviewFlyout .childNavigator-contentPlaceholder .fragment section[role=main] .apidoc-member-name {
  font-weight: 500;
}
#docviewFlyout .childNavigator-contentPlaceholder .fragment section[role=main] .apidoc-member-name .name {
  font-weight: 600;
}
#docviewFlyout .childNavigator-contentPlaceholder .fragment section[role=main] .apidoc-member,
#docviewFlyout .childNavigator-contentPlaceholder .fragment section[role=main] .apidoc-function {
  padding: 10px 0;
  border-bottom: 1px solid #CCC;
}
#docviewFlyout .childNavigator-contentPlaceholder .fragment section[role=main] .apidoc-member:last-child,
#docviewFlyout .childNavigator-contentPlaceholder .fragment section[role=main] .apidoc-function:last-child {
  border-bottom: none;
}
#docviewFlyout .childNavigator-contentPlaceholder .fragment section[role=main] .apidoc-function-params,
#docviewFlyout .childNavigator-contentPlaceholder .fragment section[role=main] .apidoc-function-returns {
  color: #444;
  padding-left: 20px;
  font-size: 0.9em;
}
#docviewFlyout .childNavigator-contentPlaceholder .fragment section[role=main] .apidoc-function-params .apidoc-member,
#docviewFlyout .childNavigator-contentPlaceholder .fragment section[role=main] .apidoc-function-returns .apidoc-member {
  padding: 4px 0;
  border-bottom-color: #DDD;
}
#docviewFlyout .childNavigator-contentPlaceholder .fragment section[role=main] .apidoc-function-params .apidoc-member .remark,
#docviewFlyout .childNavigator-contentPlaceholder .fragment section[role=main] .apidoc-function-returns .apidoc-member .remark {
  font-weight: normal;
  font-size: 0.9em;
  font-style: italic;
}
#docviewFlyout .childNavigator-contentPlaceholder .fragment section[role=main] .apidoc-function-params .apidoc-member > .apidoc-description,
#docviewFlyout .childNavigator-contentPlaceholder .fragment section[role=main] .apidoc-function-returns .apidoc-member > .apidoc-description {
  font-style: italic;
}
#docviewFlyout .childNavigator-contentPlaceholder .fragment section[role=main] .apidoc-function-params .apidoc-function-name,
#docviewFlyout .childNavigator-contentPlaceholder .fragment section[role=main] .apidoc-function-returns .apidoc-function-name {
  font-style: italic;
}
#docviewFlyout .childNavigator-contentPlaceholder .fragment section[role=main] .apidoc-function-params h5,
#docviewFlyout .childNavigator-contentPlaceholder .fragment section[role=main] .apidoc-function-returns h5 {
  font-weight: 400;
  margin-top: 5px;
  text-transform: uppercase;
  font-size: 0.9em;
}
#docviewFlyout .childNavigator-contentPlaceholder .fragment section[role=main] .apidoc-classes a {
  display: block;
}
#docviewFlyout .childNavigator-contentPlaceholder .fragment section[role=main] .apidoc-examples pre {
  width: 100%;
  max-height: 50%;
  overflow: auto;
  box-sizing: border-box;
  border: 1px solid #CCC;
  padding: 10px 20px 20px 10px;
  color: #444;
}
#docviewFlyout .childNavigator-contentPlaceholder .fragment section[role=main] .apidoc-filename {
  font-style: italic;
  color: #AAA;
  margin-top: 10px;
  margin-bottom: 20px;
}
@media screen and (max-width: 600px) {
  body {
    font-size: 11pt;
  }
  .childNavigator .childNavigator-contentPlaceholder {
    max-width: 100%;
  }
  #docviewFlyout .childNavigator-contentPlaceholder .fragment header[role=banner] {
    -ms-grid-columns: 20px auto 1fr auto;
  }
  #docviewFlyout .childNavigator-contentPlaceholder .fragment header[role=banner] .win-backbutton {
    margin-left: 0;
  }
  #docviewFlyout .childNavigator-contentPlaceholder .fragment header[role=banner] .titlearea {
    font-size: 14pt;
    -ms-grid-row-align: center;
    margin-top: 0;
  }
  #docviewFlyout .childNavigator-contentPlaceholder .fragment section[role=main].content-view {
    padding: 20px;
  }
  .syntaxhighlighter a,
  .syntaxhighlighter div,
  .syntaxhighlighter code,
  .syntaxhighlighter table,
  .syntaxhighlighter table td,
  .syntaxhighlighter table tr,
  .syntaxhighlighter table tbody,
  .syntaxhighlighter table thead,
  .syntaxhighlighter table caption,
  .syntaxhighlighter textarea {
    font-size: 10pt !important;
  }
}
