.phone .fragment header[role=banner] {
  -ms-grid-columns: 37px 83px 1fr;
  background-color: #a12121;
  padding-right: 30px;
}
.phone.wp #contenthost .win-backbutton {
  display: none;
}
#contenthost {
  height: 100%;
  width: 100%;
}
.phone .mcn-splashscreen progress {
  margin-left: 10px;
  -ms-grid-row-align: center;
}
.phone .mcn-splashscreen #mcn-splashscreen-loader .mcn-splashscreen-loader-text {
  text-align: center;
}
.phone .desc-screen .bloc-description {
  height: auto;
}
.fragment {
  -ms-grid-rows: 70px 1fr;
}
.fragment header[role=banner] {
  -ms-grid-columns: 37px 83px 1fr;
}
.fragment header[role=banner] .titlearea {
  -ms-grid-column: 3;
  margin-top: 37px;
  color: white;
}
.fragment header[role=banner] .titlearea .pagetitle {
  width: calc(100% - 20px);
  font-size: 0.6em;
}
.fragment header[role=banner] .titlearea .pagetitle .small {
  color: white;
  opacity: 0.6;
}
.phone .split {
  display: flex;
  flex-direction: column;
}
.phone section[role=main] {
  overflow: auto;
}
.desc-screen {
  -ms-grid-columns: 40px 300px 40px 1fr 40px;
}
@media screen and (orientation: portrait) {
  .phone .fragment header[role=banner] {
    -ms-grid-columns: 15px 83px 1fr;
  }
  .phone .fragment header[role=banner] .titlearea .pagetitle {
    font-size: 0.7em;
  }
  .desc-screen {
    -ms-grid-rows: 20px auto 20px auto;
    -ms-grid-columns: 20px 1fr 20px;
  }
  .desc-screen .bloc-description {
    padding: 10px 20px;
  }
  .desc-screen .bloc-content {
    padding-bottom: 40px;
  }
}
