html {
  font-size: 13pt;
}
label {
  font-size: 0.8rem;
}
button,
input[type=button],
input[type=text],
input[type=search],
input[type=number],
select {
  font-size: 1rem;
  padding: 0.2em 0.5em;
}
body {
  position: relative;
  background-color: #DDD;
}
#contenthost,
#appcontainer {
  height: 100%;
  width: 100%;
  margin: 0;
}
.fragment {
  /* Define a grid with rows for a banner and a body */
  -ms-grid-columns: 1fr;
  -ms-grid-rows: 128px 1fr;
  display: -ms-grid;
  height: 100%;
  width: 100%;
}
.fragment.fullpage {
  display: block;
}
.fragment header[role=banner] {
  /* Define a grid with columns for the back button and page title. */
  -ms-grid-columns: 39px 81px 1fr auto;
  -ms-grid-rows: 1fr;
  display: -ms-grid;
}
.fragment header[role=banner] .win-backbutton {
  -ms-grid-column: 2;
  margin-top: 59px;
}
.fragment header[role=banner] .win-backbutton:disabled {
  visibility: hidden;
}
.fragment header[role=banner] .actions {
  -ms-grid-column: 4;
  margin-top: 0;
  margin-right: 40px;
  font-size: 20pt;
  color: #777;
}
.fragment header[role=banner] .actions > div {
  display: inline-block;
  margin-left: 10px;
}
.fragment header[role=banner] .titlearea {
  -ms-grid-column: 3;
  margin-top: 37px;
}
.fragment header[role=banner] .titlearea .pagetitle {
  width: calc(80%);
}
.fragment header[role=banner] .titlearea .pagetitle .small {
  font-size: 0.4em;
  color: #AAA;
  margin-top: 8px;
}
.fragment section[role=main] {
  -ms-grid-row: 2;
  height: 100%;
  width: 100%;
}
.tap {
  cursor: pointer;
}
.mcn-splashscreen {
  background-color: #a12121;
}
.split {
  display: -ms-grid;
  -ms-grid-rows: auto;
  -ms-grid-columns: 1fr 1fr;
}
.split > div {
  min-width: 300px;
}
.split div:nth-child(2) {
  -ms-grid-column: 2;
}
.desc-screen {
  display: -ms-grid;
  -ms-grid-rows: 40px 1fr 40px;
  -ms-grid-columns: 40px 300px 40px 1fr 40px;
  font-size: 14pt;
}
.desc-screen .bloc-description {
  -ms-grid-row: 2;
  -ms-grid-column: 2;
  width: 100%;
  height: 100%;
  padding: 20px;
  border: 1px solid #DDD;
  background-color: white;
  box-sizing: border-box;
}
.desc-screen .bloc-description p {
  margin-top: 0.2em;
  margin-bottom: 0.2em;
  line-height: 1.2em;
}
.desc-screen .bloc-content {
  -ms-grid-row: 2;
  -ms-grid-column: 4;
}
.childNavigator .fragment header[role=banner] {
  -ms-grid-columns: 19px 61px 1fr auto;
}
.childNavigator .fragment section[role=main].content {
  padding: 20px 80px 40px 80px;
  box-sizing: border-box;
  overflow-y: auto;
}
#codeviewFlyout.childNavigator .childNavigator-contentPlaceholder {
  max-width: 900px;
}
@media screen and (orientation: landscape) and (min-width: 1300px) {
  #codeviewFlyout.childNavigator .childNavigator-contentPlaceholder {
    max-width: 1100px;
  }
}
@media screen and (orientation: landscape) and (min-width: 1900px) {
  #codeviewFlyout.childNavigator .childNavigator-contentPlaceholder {
    max-width: 1400px;
  }
}
@media screen and (orientation: portrait) {
  .fragment {
    -ms-grid-rows: 100px 1fr;
  }
  .fragment header[role=banner] {
    -ms-grid-columns: 29px 71px 1fr auto;
  }
  .fragment header[role=banner] .win-backbutton {
    margin-top: 32px;
  }
  .fragment header[role=banner] .titlearea {
    margin-top: 17px;
    font-size: 32pt;
  }
  .desc-screen {
    -ms-grid-rows: 15px auto 10px 1fr;
    -ms-grid-columns: 15px 1fr 15px;
    font-size: 12pt;
    overflow-y: auto;
    position: relative;
  }
  .desc-screen .bloc-description {
    padding: 10px 20px;
    -ms-grid-row: 2;
    -ms-grid-column: 2;
  }
  .desc-screen .bloc-content {
    -ms-grid-row: 4;
    -ms-grid-column: 2;
  }
  .split {
    display: block;
  }
  .split > div {
    min-width: 0;
  }
}
@media screen and (orientation: portrait) and (max-width: 500px) {
  .fragment {
    -ms-grid-rows: 80px 1fr;
  }
  .fragment header[role=banner] {
    -ms-grid-columns: 15px auto 1fr auto;
  }
  .fragment header[role=banner] .win-backbutton {
    margin-bottom: 0;
    margin-left: 15px;
    margin-right: 10px;
    margin-top: 11px;
  }
  .fragment header[role=banner] .win-backbutton:disabled {
    display: none;
  }
  .fragment header[role=banner] .titlearea {
    margin: 0;
    margin-left: 5px;
    margin-right: 5px;
    margin-top: 18px;
    font-size: 24pt;
  }
}
