.tilemenu .tile {
  width: 200px;
  height: 200px;
  padding: 10px;
  box-sizing: border-box;
  background-color: #ef7c45;
  display: inline-block;
  margin-right: 10px;
  margin-bottom: 10px;
  color: white;
}
#sampleMenuItem .mcn-tilemenu-menu {
  background-color: #ef7c45;
  border: 1px solid #f5ae8b;
  box-sizing: border-box;
  padding: 4px;
  line-height: 1.1em;
  width: 44px;
  height: 44px;
  color: white;
}
